---
layout: layouts/base.liquid
title: Fontboy - by Oliver Kohl
tags: page
---
    <!-- Top section -->
    <main class="main">
      <article class="post-single">
        <h1 class="post-title">Fontboy</h1>
        <div class="post-description">Just a fontviewer, not more!</div>
        <div class="post-content">
          <p>Fontboy is an application to show your installed fonts in BeOS/Haiku OS. You can get additional information of a font
            and a preview of it’s complete Unicode charset. Fontboy allows you to adjust his appearence to your desired
            needs and is fast because BeOS is.</p>
          <p><img loading="lazy" src="/img/fontboy.png#center" alt="Alt text"></p>
          <h2 id="features">Features<a hidden="" class="anchor" aria-hidden="true" href="#features">#</a></h2>
          <ul>
            <li>Watch all your installed True Type and Type 1 fonts</li>
            <li>Browse the complete Unicode charset of a font</li>
            <li>Magnified view of single charcters</li>
            <li>Drag &amp; drop support</li>
            <li>Tooltips</li>
            <li>Highly customizeable</li>
          </ul>
          <p>Thanks and regards must go to Marco Nelissen for his <a
              href="http://www.xs4all.nl/~marcone/be.html#bubble">BubbleHelper class</a>, to Eric Shepherd for his <a
              href="http://www.beatjapan.org/mirror/www.be.com/aboutbe/benewsletter/volume_II/Issue35.html#Workshop">TPreferences
              class</a>, to Dianne Hackborn for her <a href="http://www.angryredplanet.com/">FFont class</a> and to YNOP
            Talton for <a href="http://www.latech.edu/~jta001/BeOS/index.html">SplitPane</a> view.</p>
          <h2 id="download">Download<a hidden="" class="anchor" aria-hidden="true" href="#download">#</a></h2>
          <p>Fontboy is maintained by the Haiku Archives, where you can also <a
              href="https://github.com/HaikuArchives/FontBoy/releases">download the latest release</a>.</p>
          <h2 id="history">History<a hidden="" class="anchor" aria-hidden="true" href="#history">#</a></h2>
          <h3 id="version-096e-4192003">Version 0.9.6e (4/19/2003)<a hidden="" class="anchor" aria-hidden="true"
              href="#version-096e-4192003">#</a></h3>
          <ul>
            <li>Fixed crashing bug when loading of buttonimages failed</li>
            <li>Reworked dynamic content layout in properties window</li>
            <li>Resize button in properties window can now be locked using right mousebutton (sorry, no visual feedback)
            </li>
          </ul>
          <h3 id="version-096d-452003">Version 0.9.6d (4/5/2003)<a hidden="" class="anchor" aria-hidden="true"
              href="#version-096d-452003">#</a></h3>
          <ul>
            <li>Reduced window refreshs when updateting preferences</li>
            <li>Fixed crashing bug when closing Fontboy</li>
            <li>Better ListView handling in preferences window</li>
            <li>Faster properties window popup</li>
          </ul>
          <h3 id="version-096c-1232003">Version 0.9.6c (1/23/2003)<a hidden="" class="anchor" aria-hidden="true"
              href="#version-096c-1232003">#</a></h3>
          <ul>
            <li>Fixed some memoryleaks</li>
            <li>Removed some unnecessary redraws</li>
            <li>“@” is now default character in detail window</li>
            <li>Added dynamic view &amp; window limits in detail window</li>
            <li>Added switch for tooltips</li>
            <li>Spooky tooltips in detail window banned</li>
            <li>Controls for column settings united</li>
            <li>Fontlist will now get refreshed at startup if necessary</li>
            <li>Fixed refresh of fontlist</li>
            <li>Fixed bug where the first change of a color didn’t reached the app</li>
          </ul>
          <h3 id="version-096b-12252002">Version 0.9.6b (12/25/2002)<a hidden="" class="anchor" aria-hidden="true"
              href="#version-096b-12252002">#</a></h3>
          <ul>
            <li>Reorganisation of preferences</li>
            <li>Some bugfixes i don’t remember</li>
            <li>Version 0.9.6a (9/4/2000)</li>
            <li>Added Splitpane to detail window</li>
            <li>Added support for Mousewheel in detail window</li>
            <li>Fontsize and displaytext will now updated live too!</li>
            <li>Changed title of detail window to fontname + fontstyle</li>
            <li>Enhanced keyboard navigation in detail window</li>
          </ul>
          <h3 id="version-096-832000">Version 0.9.6 (8/3/2000)<a hidden="" class="anchor" aria-hidden="true"
              href="#version-096-832000">#</a></h3>
          <ul>
            <li>most classes rewritten and enhanced</li>
          </ul>
          <h3 id="version-095d-3499">Version 0.9.5d (3/4/99)<a hidden="" class="anchor" aria-hidden="true"
              href="#version-095d-3499">#</a></h3>
          <ul>
            <li>fixed bug in defaulttext setting</li>
            <li>added support for Fontdrops using</li>
            <li>Dianne Hackborn’s FFont class</li>
            <li>added support for HTML Fonttagdrops (receiving program must support dropmessages of type “text/html”)</li>
            <li>added minimal support for UTF8 fontpreview</li>
            <li>(try PageUp/PageDown in Charset view)</li>
          </ul>
          <h3 id="version-095c-3399">Version 0.9.5c (3/3/99)<a hidden="" class="anchor" aria-hidden="true"
              href="#version-095c-3399">#</a></h3>
          <ul>
            <li>Fixed a bug which caused Fontboy to crash</li>
            <li>when no settings file was available</li>
          </ul>
          <h3 id="version-095b-3399">Version 0.9.5b (3/3/99)<a hidden="" class="anchor" aria-hidden="true"
              href="#version-095b-3399">#</a></h3>
          <ul>
            <li>Properties windows are now zoomable</li>
            <li>Minimal support for Drag &amp; Drop</li>
          </ul>
          <h3 id="version-095a-22599">Version 0.9.5a (2/25/99)<a hidden="" class="anchor" aria-hidden="true"
              href="#version-095a-22599">#</a></h3>
          <ul>
            <li>fixed bug which displayed the same font in multiple detail windows.</li>
            <li>fontboy should now be aware of Input Methods.</li>
          </ul>
          <p><em>When I got the server statistics, I saw that a lot of people from Japan downloaded Fontboy so I decided to
              put a little more work in the support of Input Methods. What has to be done next is a UTF8 preview with the
              complete characterset, but that will be one of my next steps!</em></p>
          <h3 id="version-095-22299">Version 0.9.5 (2/22/99)<a hidden="" class="anchor" aria-hidden="true"
              href="#version-095-22299">#</a></h3>
          <ul>
            <li>first public release</li>
          </ul>
          <h2 id="links-to-free-fonts">Links to free Fonts<a hidden="" class="anchor" aria-hidden="true"
              href="#links-to-free-fonts">#</a></h2>
          <ul>
            <li><a href="http://abstractfonts.com/">Abstract Fonts</a></li>
            <li><a href="http://www.1001fonts.com/">1001 Fonts.com</a></li>
            <li><a href="http://www.fontpool.com/">The Fontpool</a></li>
            <li><a href="http://www.freefonts4all.com/">freefonts4all.com</a></li>
          </ul>
          <p>Feel free to address feature requests and bug reports here: <a
              href="https://github.com/HaikuArchives/FontBoy/issues">https://github.com/HaikuArchives/FontBoy/issues</a>.
          </p>
        </div>
      </article>
    </main>