---
layout: layouts/base.liquid
title: Oliver Kohl
tags: page
---
    <!-- Top section -->
<main class="main">
  <div class="profile">
    <div class="profile_inner">
      <img
        draggable="false"
        src="http://oliverkohl.com/img/headshot.jpg"
        alt="headshot"
        title="headshot"
        height="120"
        width="120"
      />
      <h1>Oliver Kohl</h1>
      <span>domesticated nerd</span>

      <div class="social-icons">
        <a href="https://primal.net/oliver" target="_blank" rel="noopener noreferrer me" title="Nostr">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentcolor"><path d="M4.241 22.593V21.131C4.241 10.178-1.504 1.97 4.177.881 9.376-.118 15.276.365 15.345 4.396 15.351 4.745 15.4 5.788 16.837 6.358 17.693 6.697 19.017 6.817 20.754 6.77 20.754 6.77 22.331 6.642 22.331 8.262c0 2.013-3.526 1.872-3.526 1.872C17.637 10.19 14.885 9.864 13.319 10.338 12.49 10.593 11.767 11.065 11.328 11.934c-.731 1.444-1.078 4.621-1.133 7.936v2.705C10.195 23.12 10.176 23.567 10.176 23.565L4.231 23.549C4.239 23.004 4.23 23.132 4.241 22.593zM13.405 5.104c0-1.169-.939-2.116-2.1-2.116-1.159.0-2.101.947-2.101 2.116s.942 2.117 2.101 2.117c1.161.0 2.1-.948 2.1-2.117z" style="fill-rule:nonzero"></path></svg>
        </a>
        <a href="https://x.com/oliver" target="_blank" rel="noopener noreferrer me" title="X/Twitter">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M23 3a10.9 10.9.0 01-3.14 1.53 4.48 4.48.0 00-7.86 3v1A10.66 10.66.0 013 4s-4 9 5 13a11.64 11.64.0 01-7 2c9 5 20 0 20-11.5a4.5 4.5.0 00-.08-.83A7.72 7.72.0 0023 3z"></path></svg>
        </a>
        <a href="https://github.com/ok" target="_blank" rel="noopener noreferrer me" title="Github">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37.0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44.0 0020 4.77 5.07 5.07.0 0019.91 1S18.73.65 16 2.48a13.38 13.38.0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07.0 005 4.77 5.44 5.44.0 003.5 8.55c0 5.42 3.3 6.61 6.44 7A3.37 3.37.0 009 18.13V22"></path></svg>
        </a>
        <a href="https://www.linkedin.com/in/oliverkohl/" target="_blank" rel="noopener noreferrer me" title="Linkedin">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
        </a>
        <a href="https://keybase.io/oliverkohl" target="_blank" rel="noopener noreferrer me" title="Keybase">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71 76.3" fill="currentcolor" stroke="none"><path d="M6.68 73.99c-.6-1.3-1.4-3.1-1.8-4l-.6-1.7-2 2.2-2 2.2-.2-4.2c-.3-6 .2-12.2 1.2-16.6 2.3-9.8 9.5-18.7 18.8-23.4l2.1-1-.5-1.5c-.3-.8-.6-2.5-.7-3.6l-.2-2.1-2.1-.2c-3.2-.3-4.9-1.2-6-3.5-.6-1.2-.6-1.4-.4-4.6.2-4.2.5-5.1 1.8-6.5 1.6-1.8 2.7-2.1 6.7-1.9 2.9.2 3.5.3 4.8.9.8.4 1.5.8 1.6.8s1-1.1 2.1-2.6l1.9-2.7 1.2.7c.7.4 1.5.9 1.9 1.1l.7.4-.6 1.5c-.3.8-.7 2.2-.8 2.9l-.2 1.4 1.7.2c6.1.6 10.7 4.3 12.4 9.9.5 1.8.5 5.3.0 7-.5 1.6-.5 1.7-.1 1.7.7.0 5.4 2.3 7.3 3.5 3.7 2.4 8 6.6 10.4 10.2 4.5 6.7 6.4 14 5.6 22-.4 4.8-1.3 8.6-2.9 12.3l-.6 1.4h-5l1.2-2.4c1.3-2.6 2.3-6.2 2.8-9.4.3-2.2.4-8.2.1-9.3l-.2-.7-1.3 1.4c-3.2 3.5-7.9 4.5-14.2 2.8-5.4-1.4-7.6-1.7-12.7-1.7-3.9.0-5.2.1-7.3.6-5.8 1.3-9.9 3.2-15.6 7.3-2.1 1.5-3.8 2.7-3.9 2.7-.1.0.2-1 .6-2.3s1.1-3.4 1.5-4.8l.8-2.5-.9.9c-.5.5-1.9 1.9-3.1 3.2l-2.1 2.3.5 1.9c.6 2.5 2 5.6 3.5 7.9.6 1 1.1 1.8 1.1 1.9s-1.2.1-2.6.1h-2.6l-1.1-2.1zm8.8-24.2c4.8-5.1 8.7-9.2 8.8-9.2.1.1-.4 1.6-.9 3.3-3.3 10.4-4 12.4-3.9 12.5.0.0 1.2-.4 2.5-.9 8.5-3.7 18.4-4.2 28.9-1.4 4.7 1.2 6.5 1.2 8.8.0 1.3-.7 1.8-1.1 2.4-2.1 1.1-1.7 1.2-4.1.5-6.3-1.7-4.8-8.3-11-14.5-13.7-3.2-1.4-3.4-1.4-4.1-.7l-.6.6 2.6 3.2c1.4 1.7 2.9 3.6 3.1 4.1.6 1.2.7 3.1.1 4.3-.8 1.7-3.2 2.9-5.1 2.5-.8-.2-1.1-.1-1.9.5-2.2 1.6-4.6 1.2-6.6-1.2-1.6-1.8-2-2.7-2.1-4.5.0-.9-.3-2-.5-2.4-.3-.6-.4-1.3-.4-2.2l.1-1.4-1.3-.3c-1.8-.5-3.9-1.5-5.1-2.4-.6-.4-1.1-.8-1.3-.8s-1.5.6-2.9 1.3c-9.7 5-16 14.3-17 24.8-.1 1-.2 2.3-.3 2.8l-.1.9 1.1-1.1c.5-.5 4.9-5.1 9.7-10.2zm25.9-7.4c.9-.7 1.7-1.3 1.9-1.3.1.0.4.3.7.7.5.8 1.4.8 1.8.1.3-.5.3-.6-5.6-7.8-3.5-4.3-4.2-5-4.7-5-1.2.1-.9 1 1 3.3l1.8 2.2-1 .8c-1.1 1-1.2 1.2-.5 1.8.5.5.6.4 1.6-.3l1.1-.7.7.6c.4.3.6.8.6.9.0.2-.8.9-1.7 1.7-.9.7-1.6 1.5-1.6 1.7.0.3.5 1.1 1.4 2.2.3.6.8.4 2.5-.9zm-10.3-14.2c.6-1.8 2.6-3.2 4.6-3.2 1.1.0 2.7.9 3.8 2.1l1 1.2.9-1.1c2.5-2.8 2.8-6.7.8-10.1-1.5-2.5-4.3-4-8.2-4.4-2.1-.2-2.6-.4-3.7-1.5l-.8-.8-.4.6c-.8 1.2-2.5 5.1-3 6.6-.7 2.3-.4 5.9.5 7.7.9 1.7 3.3 4 4 3.7.1.1.3-.3.5-.8zm-8.9-13.6c.2-.5.7-1.8 1.2-2.8.5-1 .9-2 .9-2.3.0-.9-1-1.3-3.7-1.5-2.4-.2-2.6-.1-3.1.4-.4.4-.6.9-.6 1.6.0.6-.1 1.7-.2 2.6-.2 2.1.1 2.5 2.2 2.8 3.1.2 3 .2 3.3-.8zm-3.1-2.4c0-1.7.2-1.9 1.6-1.9h1.3v2.8h-2.8v-.9zm6.3 58.3c-.6-.6-.8-1-.8-2 0-1.9 1.1-3 2.9-3 1.7.0 2.9 1.2 2.9 2.9.0 1.8-1.1 2.8-3 2.9-1 0-1.4-.2-2-.8zm19.3.3a2.93 2.93.0 011.8-5.3c1.8.0 2.8 1.1 2.9 3 0 1.1-.1 1.4-.8 2s-1 .8-2 .8c-.9.0-1.5-.2-1.9-.5z"></path></svg>
        </a>
        <a href="https://profile.sap.com/u/oliver" target="_blank" rel="noopener noreferrer me" title="SAP">
          <svg
            version="1.1"
            width="717.76648"
            height="316.36984"
            viewBox="-1.33278 -1.33278 64.799846 28.540899"
            fill="currentcolor"
            id="svg5220"
            inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
            sodipodi:docname="SAP_2011.svg"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:dc="http://purl.org/dc/elements/1.1/">
            <metadata
              id="metadata19">
              <rdf:RDF>
                <cc:Work
                  rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <sodipodi:namedview
              borderopacity="1"
              objecttolerance="10"
              gridtolerance="10"
              guidetolerance="10"
              inkscape:pageopacity="0"
              inkscape:pageshadow="2"
              inkscape:window-width="958"
              inkscape:window-height="991"
              id="namedview17"
              showgrid="false"
              inkscape:zoom="0.98270418"
              inkscape:cx="365.82728"
              inkscape:cy="173.50084"
              inkscape:window-x="952"
              inkscape:window-y="0"
              inkscape:window-maximized="0"
              inkscape:current-layer="svg5220"
              fit-margin-top="0"
              fit-margin-left="0"
              fit-margin-right="0"
              fit-margin-bottom="0"
              inkscape:showpageshadow="0"
              inkscape:pagecheckerboard="0"
              inkscape:deskcolor="#d1d1d1" />
            <defs
              id="defs5222">
              <linearGradient
                x1="0"
                y1="0"
                x2="0.95721298"
                y2="2.6172601e-16"
                id="linearGradient3048"
                gradientUnits="userSpaceOnUse"
                gradientTransform="matrix(0,-37.1015,37.1015,0,69.9034,70.5065)"
                spreadMethod="pad">
                <stop
                  id="stop3050"
                  style="stop-color:#00b8f1;stop-opacity:1"
                  offset="0" />
                <stop
                  id="stop3052"
                  style="stop-color:#06a5e5;stop-opacity:1"
                  offset="0.219864" />
                <stop
                  id="stop3054"
                  style="stop-color:#06a5e5;stop-opacity:1"
                  offset="0.219864" />
                <stop
                  id="stop3056"
                  style="stop-color:#1870c5;stop-opacity:1"
                  offset="0.794312" />
                <stop
                  id="stop3058"
                  style="stop-color:#1d61bc;stop-opacity:1"
                  offset="1" />
              </linearGradient>
              <linearGradient
                x1="0"
                y1="0"
                x2="0.95721298"
                y2="2.6172601e-16"
                id="linearGradient5318"
                xlink:href="#linearGradient3048"
                gradientUnits="userSpaceOnUse"
                gradientTransform="matrix(0,-37.1015,37.1015,0,69.9034,70.5065)"
                spreadMethod="pad" />
              <linearGradient
                x1="0"
                y1="0"
                x2="0.95721298"
                y2="2.6172601e-16"
                id="linearGradient5323"
                xlink:href="#linearGradient3048"
                gradientUnits="userSpaceOnUse"
                gradientTransform="matrix(0,-37.1015,37.1015,0,69.9034,70.5065)"
                spreadMethod="pad" />
              <linearGradient
                x1="0"
                y1="0"
                x2="0.95721298"
                y2="2.6172601e-16"
                id="linearGradient5331"
                xlink:href="#linearGradient3048"
                gradientUnits="userSpaceOnUse"
                gradientTransform="matrix(0,-37.1015,37.1015,0,69.9034,70.5065)"
                spreadMethod="pad" />
              <linearGradient
                x1="0"
                y1="0"
                x2="0.95721298"
                y2="2.6172601e-16"
                id="linearGradient5334"
                xlink:href="#linearGradient3048"
                gradientUnits="userSpaceOnUse"
                gradientTransform="matrix(0,46.634581,46.634581,0,43.775467,-1.3259059)"
                spreadMethod="pad" />
            </defs>
            <path
              d="M 51.501949,12.094144 H 49.545137 V 4.9376005 h 1.956812 c 2.612436,0 4.691926,0.860757 4.691926,3.532519 0,2.7592465 -2.07949,3.6240245 -4.691926,3.6240245 m -21.061375,5.11627 c -1.035723,0 -2.00709,-0.189044 -2.846729,-0.504789 l 2.818574,-8.8891165 h 0.06033 l 2.760252,8.9132495 c -0.831595,0.297645 -1.777824,0.480656 -2.789413,0.480656 M 50.983079,-0.8765255 h -8.8861 V 20.253227 L 34.334085,-0.8765255 H 26.639569 L 20.00692,16.789086 C 19.30605,12.336483 14.693564,10.794965 11.067528,9.6456155 8.6773206,8.8763645 6.1332631,7.7461195 6.1563909,6.4942015 c 0.020111,-1.023656 1.3665507,-1.972901 4.0222251,-1.831117 1.78989,0.0905 3.368614,0.2353 6.502932,1.750673 L 19.768606,1.0360422 C 16.908804,-0.4250308 12.945907,-1.342098 9.7039936,-1.3491369 h -0.02011 c -3.7818974,0 -6.9333106,1.2328119 -8.88811199,3.2509631 -1.3585064,1.4118013 -2.09356801,3.1976693 -2.12675141,5.1856543 -0.050278,2.723046 0.95226181,4.6557245 3.0508576,6.2012645 1.7758123,1.30119 4.0413305,2.138818 6.0423878,2.766285 2.4686404,0.761206 4.4837754,1.425879 4.4606474,2.842708 -0.02011,0.51585 -0.212172,0.999522 -0.585234,1.381634 -0.614395,0.638528 -1.558612,0.874834 -2.8648294,0.903995 -2.5179132,0.05028 -4.3852311,-0.341889 -7.3596664,-2.099602 l -2.744163,5.453132 c 2.9653853,1.688329 6.4757821,2.675785 10.0585794,2.675785 h 0.463561 c 3.1172244,-0.06033 5.6351374,-0.950251 7.6472554,-2.567185 l 0.3258,-0.284572 -0.888911,2.389201 h 8.069588 l 1.35549,-4.121775 c 1.417834,0.47965 3.032758,0.74914 4.742203,0.74914 1.668218,0 3.241914,-0.25139 4.634609,-0.709923 l 1.303201,4.082558 h 13.166753 v -8.537172 h 2.872874 c 6.938338,0 11.047041,-3.531514 11.047041,-9.4582615 0,-6.596449 -3.990047,-9.622168 -12.484986,-9.622168"
              id="path3100"
              inkscape:connector-curvature="0" />
          </svg>
        </a>
      </div>

      <div class="buttons">
        <a class="button" href="fontboy" rel="noopener" title="Fontboy">
          <span class="button-inner">Fontboy</span>
        </a>
        <a class="button" href="https://opensit.net" rel="noopener" title="OpenSIT">
          <span class="button-inner">
            OpenSIT&nbsp;
            <svg fill="none" shape-rendering="geometricPrecision" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="14" width="14">
              <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
              <path d="M15 3h6v6"></path>
              <path d="M10 14 21 3"></path>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</main>